<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="text-gray-700">
    <%- include('partials/header') %>
    <div class="container mx-auto">
      <div class="mt-72 flex justify-center">
        <div class="text-center max-w-lg">
          <h1 class="text-red-400 text-6xl">BookStore</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nam
            error laudantium consectetur!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
<div class="container"></div>
