<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Articles</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <% if(articles.length) { %> <% articles.forEach(article => { %>
      <a href="/articles/<%= article.id %>">
        <div class="article">
          <h2><%= article.title %></h2>
          <p><%= article.description.substring(0, 150)%>...</p>
        </div>
      </a>
      <% }) %> <% } else { %>
      <h2 class="no-article">No Articles Present</h2>
      <% } %>
    </div>
  </body>
</html>
