<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <div class="hero">
        <h1>Blog App</h1>
        <a href="/articles" class="btn">Go To Articles</a>
      </div>
    </div>
  </body>
</html>
